
<form class="form" #contactForm="ngForm" (ngSubmit)="onSubmit(contact)" novalidate>

  <md-form-field>
    <input mdInput name="firstName" [(ngModel)]="contact.firstName" placeholder="First Name" required>
  </md-form-field>
  <md-form-field>
    <input mdInput name="lastName" [(ngModel)]="contact.lastName" placeholder="Last Name" required>
  </md-form-field>
  <md-form-field>
    <input mdInput name="company" [(ngModel)]="contact.company" placeholder="Company" required>
  </md-form-field>
  <md-form-field>
  <input mdInput name="email" type="email" [(ngModel)]="contact.email" email placeholder="Email" required>
  </md-form-field>
  <md-form-field>
    <input mdInput name="phoneNumber" [(ngModel)]="contact.phoneNumber" placeholder="Phone Number" required>
  </md-form-field>
  <md-form-field>
    <textarea mdInput name="comments" [(ngModel)]="contact.comments" placeholder="Comments"></textarea>
  </md-form-field>
  <button md-button type="submit" [disabled]="!contactForm.form.valid">Submit</button>



  <!--<div class="form-group">-->

    <!--<input class="form-control" [(ngModel)]="contact.firstName" name="firstName" placeholder="First Name" required>-->
    <!--<input class="form-control" name="lastName" [(ngModel)]="contact.lastName" placeholder="Last name" required>-->
    <!--<input class="form-control" name="company" [(ngModel)]="contact.company" placeholder="Company" required>-->
    <!--<input class="form-control" name="email" type="email" [(ngModel)]="contact.email" email placeholder="Email" required>-->
    <!--<input class="form-control" name="phoneNumber" [(ngModel)]="contact.phoneNumber" placeholder="Phone number" required>-->
    <!---->
    <!--<textarea class="form-control" name="comments" [(ngModel)]="contact.comments" placeholder="Comments" required></textarea>-->
    <!--<button type="submit" class="btn btn-success" [disabled]="!contactForm.form.valid">Submit</button>-->
  <!--</div>-->
</form>

