
/*input.ng-touched.ng-invalid {border:solid red 2px;}*/
/*input.ng-touched.ng-valid {border:solid green 2px;}*/

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}


textarea {
  resize: vertical;
}

@media(min-width: 350px) {
  .form {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}



