
.grid {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;

  display: grid;

  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.grid-header {
  text-align: center;
  /*background: url("img/img-background.jpg") no-repeat center;*/

}

.grid-header button {
  background: transparent;
  border: none;
}

.grid-footer {
  text-align: center;
}


